
@{
    ViewBag.Title = "AddReward";
}


@model DataLayer.Models.ViewModels.AddRewardViewModel

@using (Html.BeginForm("AddReward", "Manager", FormMethod.Post, new { @class = "max-w-sm mx-auto" }))
{
    <h2 class="inline-block mb-2 text-2xl font-bold text-gray-900 dark:text-white">Create employee</h2>
    @Html.AntiForgeryToken()

    <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />

    <div class="mb-5">
        @Html.LabelFor(m => m.Count, new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
        @Html.TextBoxFor(m => m.Count, new { @type = "number", @class = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" })
        @Html.ValidationMessageFor(m => m.Count, "", new { @class = "text-danger" })
    </div>
    <div class="mb-5">
        @Html.LabelFor(m => m.RewardRate, new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
        @Html.TextBoxFor(m => m.RewardRate, new { @readonly = "readonly", @class = "disabled bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" })
    </div>
    <div class="mb-5">
        @Html.LabelFor(m => m.Message, new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
        @Html.TextBoxFor(m => m.Message, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" })
        @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
}
