
@{
    ViewBag.Title = "Home";
}

@model DataLayer.Models.ViewModels.ManagerHomeViewModel

<div class="max-w-4xl mx-auto">
    <h5 class="inline-block mb-2 text-xl font-bold text-gray-900 dark:text-white">Manager details</h5>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Full name:
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        @Model.Manager.FirstName @Model.Manager.LastName
                    </div>
                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Username:
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        @Model.Manager.Username
                    </div>
                </div>
            </li>
        </ul>


        <div class="mt-4 relative overflow-x-auto">
            <h5 class="inline-block mb-2 text-xl font-bold text-gray-900 dark:text-white">Employees</h5>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Full name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Hiring date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Position
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Latest reward amount
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Latest reward date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var row in Model.EmployeesWithRewards)
                        {
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                            <td class="px-6 py-4">
                                                @row.Employee.User.FirstName @row.Employee.User.LastName
                                            </td>
                                            <td class="px-6 py-4">
                                                @row.Employee.HiringDate
                                            </td>
                                            <td class="px-6 py-4">
                                                @row.Employee.Position.Title
                                            </td>
                                            @{
                                                double amount = 0;
                                                if (row.RewardHistory != null)
                                                {
                                                    amount = row.RewardHistory.Rate * row.RewardHistory.Count;
                                                    <td class="px-6 py-4">
                                                        @amount
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        @row.RewardHistory.CreatedAt
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="px-6 py-4">
                                                        --
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        --
                                                    </td>
                                                }
                                            }

                                            <td class="px-6 py-4">
                                                <a href="/manager/AddReward?empId=@row.Employee.EmployeeId" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-yellow-300 border border-transparent rounded-md hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-200">Reward</a>
                                            </td>

                                            <td class="px-6 py-4">
                                                <a href="/manager/EditEmployee?empId=@row.Employee.EmployeeId" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-300 border border-transparent rounded-md hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-200">Edit</a>
                                            </td>

                                            <td class="px-6 py-4">
                                                <a href="/manager/DeleteEmployee/@row.Employee.EmployeeId" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Delete</a>
                                            </td>
                                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-4 flex justify-center">
        <div>
            <a href="/manager/createemployee" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">New employee</a>
            <a href="/auth/signout" class="inline-flex items-center px-4 py-2 text-sm font-medium text-black bg-white border-2 border-blue-300 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-100">Sign Out</a>
        </div>
    </div>

</div>
